<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net452" />
  <package id="Dragablz" version="0.0.3.178" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.4.0-ALPHA035" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Runtime" version="0.8.31-beta" targetFramework="net452" />
  <package id="Prism.Core" version="6.2.0" targetFramework="net462" />
  <package id="Zodiacon.WPF" version="1.1.13" targetFramework="net462" />
</packages>